In [1]:
#!/usr/bin/env python
import snowflake.connector
import pandas as pd
import numpy as np

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
from snowflaked import query_snowflake
from snowflaked import initialize_conn
from snowflaked import dict_conn_build
from snowflaked import unique_counts
from snowflaked import find_primary

from queries import *

In [2]:
#dict_conn = dict_conn_build()

In [ ]:
# return keys of queries
return_vars().keys()

In [3]:
cs = initialize_conn()

Username:erik.bethke@braze.com
Password:········

#### highspot

In [ ]:
df = query_snowflake(str_highspot_5k, cs=cs)

In [ ]:
str_highspot_5k

In [ ]:
### finding columns of interest
unique_counts(df)

In [ ]:
required_cols_in = ['user_id']#['user_id', 'content_id']
exclude_cols_in = ['number_of_interactions', 'downloads']
df_out =find_primary(df,
             required_cols=required_cols_in,
             exclude_cols=exclude_cols_in,
             threshold=10,
             improve=.9)

In [ ]:
#df_out[df_out.index.duplicated()]

### success

In [ ]:
df_succ = pd.read_csv('/Users/erik.bethke1/Documents/Projects/primarykeys/sql_runner_bqscq7fp8cjdjd_2020-05-27_21-12-03.csv')

In [ ]:
unique_counts(df_succ)

In [ ]:
succ_out = find_primary(df_succ, required_cols=['COMPANY_NAME', 'CAPABILITY_KEY'], improve=.1)
succ_out[succ_out.index.duplicated()]

In [ ]:
succ_out.columns

In [ ]:
succ_out[(succ_out['SALESFORCE_ID'] == '001d000001tob0LAAQ')]

In [ ]:
succ_out[(succ_out['SALESFORCE_ID'] == '001d000001tob0LAAQ') & (succ_out['SOURCE'] == 'csm')][['SUBCATEGORY_ORDER', 'ROW_ORDER', 'LEVEL_ORDER',
       'LABEL', 'INPUT_TYPE', 'SCORECARD_TYPE']]

#### covid_19

In [4]:
df = query_snowflake(str_pk_jhucovid, cs=cs)

In [5]:
unique_counts(df)

{'country_region': 14848,
 'province_state': 512,
 'county': nan,
 'fips': nan,
 'date': 948,
 'case_type': 30336,
 'cases': 48540,
 'long': 1024,
 'lat': 1024,
 'iso3166_1': 14848,
 'iso3166_2': 512,
 'difference': 79094,
 'last_updated_date': 121344,
 'last_reported_flag': 120396}

In [43]:
df_covid = find_primary(df,
                        required_cols=['date', 'country_region'],
                        exclude_cols= ['cases', 'difference'],
                        improve=.1)

excluding col from search params cases
{'province_state': 512, 'county': nan, 'fips': nan, 'case_type': 30336, 'long': 1024, 'lat': 1024, 'iso3166_1': 14848, 'iso3166_2': 512, 'difference': 79094, 'last_updated_date': 121344, 'last_reported_flag': 120396}
excluding col from search params difference
{'province_state': 512, 'county': nan, 'fips': nan, 'case_type': 30336, 'long': 1024, 'lat': 1024, 'iso3166_1': 14848, 'iso3166_2': 512, 'last_updated_date': 121344, 'last_reported_flag': 120396}

In [44]:
df_covid

,,,province_state,county,fips,cases,long,lat,iso3166_1,iso3166_2,difference,last_updated_date,last_reported_flag
date,country_region,case_type,,,,,,,,,,,
2020-01-22,Afghanistan,Active,None,None,None,0,65.0,33.0,AF,None,0,2020-05-29 11:13:08.641455,False
2020-01-23,Afghanistan,Active,None,None,None,0,65.0,33.0,AF,None,0,2020-05-29 11:13:08.641455,False
2020-01-24,Afghanistan,Active,None,None,None,0,65.0,33.0,AF,None,0,2020-05-29 11:13:08.641455,False
2020-01-25,Afghanistan,Active,None,None,None,0,65.0,33.0,AF,None,0,2020-05-29 11:13:08.641455,False
2020-01-26,Afghanistan,Active,None,None,None,0,65.0,33.0,AF,None,0,2020-05-29 11:13:08.641455,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-24,Zimbabwe,Recovered,None,None,None,25,30.0,-20.0,ZW,None,7,2020-05-29 11:13:08.641455,False
2020-05-25,Zimbabwe,Recovered,None,None,None,25,30.0,-20.0,ZW,None,0,2020-05-29 11:13:08.641455,False
2020-05-26,Zimbabwe,Recovered,None,None,None,25,30.0,-20.0,ZW,None,0,2020-05-29 11:13:08.641455,False
2020-05-27,Zimbabwe,Recovered,None,None,None,25,30.0,-20.0,ZW,None,0,2020-05-29 11:13:08.641455,False
2020-05-28,Zimbabwe,Recovered,None,None,None,28,30.0,-20.0,ZW,None,3,2020-05-29 11:13:08.641455,True

In [45]:
df_covid[df_covid.index.duplicated()]

,,,province_state,county,fips,cases,long,lat,iso3166_1,iso3166_2,difference,last_updated_date,last_reported_flag
date,country_region,case_type,,,,,,,,,,,
2020-01-22,Australia,Active,New South Wales,None,None,0,151.2093,-33.8688,AU,NSW,0,2020-05-29 11:13:08.641455,False
2020-01-23,Australia,Active,New South Wales,None,None,0,151.2093,-33.8688,AU,NSW,0,2020-05-29 11:13:08.641455,False
2020-01-24,Australia,Active,New South Wales,None,None,0,151.2093,-33.8688,AU,NSW,0,2020-05-29 11:13:08.641455,False
2020-01-25,Australia,Active,New South Wales,None,None,0,151.2093,-33.8688,AU,NSW,0,2020-05-29 11:13:08.641455,False
2020-01-26,Australia,Active,New South Wales,None,None,3,151.2093,-33.8688,AU,NSW,3,2020-05-29 11:13:08.641455,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-24,United Kingdom,Recovered,None,None,None,0,-3.4360,55.3781,GB,UK,0,2020-05-29 11:13:08.641455,False
2020-05-25,United Kingdom,Recovered,None,None,None,0,-3.4360,55.3781,GB,UK,0,2020-05-29 11:13:08.641455,False
2020-05-26,United Kingdom,Recovered,None,None,None,0,-3.4360,55.3781,GB,UK,0,2020-05-29 11:13:08.641455,False
2020-05-27,United Kingdom,Recovered,None,None,None,0,-3.4360,55.3781,GB,UK,0,2020-05-29 11:13:08.641455,False
2020-05-28,United Kingdom,Recovered,None,None,None,0,-3.4360,55.3781,GB,UK,0,2020-05-29 11:13:08.641455,True